<div class="modal-header">
    <h4 class="modal-title">Personnalisation du profil</h4>
    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Fermer"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col text-center" (click)="picture.click()">
            <img #avatar class="rounded-circle img-fluid" id="avatarEdit" src="{{api}}/api/users/picture/{{ me.uuid }}?t={{ timestamp }}">
            <div data-bss-hover-animate="pulse" class="overlayProfilPictureChange">
                <p class="paragraphOverlayProfilPicture">
                    <i class="far fa-image" id="iconEditAvatar"></i><br>Changer la<br>photo</p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 28px;">
        <div class="col text-center">
            <input type="text" id="usernameEdit" #usernameEdit value="{{ me.username }}" maxlength="18" (keyup)="changeUsername($event)">
            <input accept="image/*" type="file" style="display: none;" (change)="updateAvatarPreview(picture.files)" #picture>
        </div>
    </div>
    <div *ngIf="alert.display" [class.alert-danger]="!alert.success" [class.alert-success]="alert.success" class="alert" role="alert" id="alertEditProfile"><span>{{ alert.message }}</span></div>
</div>
<div class="modal-footer">
    <button (click)="closeModal()" class="btn btn-light" type="button">Fermer</button>
    <button (click)="submit()" class="btn btn-primary" type="button">Sauvegarder</button>
</div>