<ng-template #editProfile let-modal>
    <app-chatroom-modal-edit-profile [me]="me" [username]="username"></app-chatroom-modal-edit-profile>
</ng-template>

<nav class="navbar navbar-light navbar-expand-md sticky-top bg-dark" data-aos="fade-down" id="navbar">
    <div class="container-fluid">
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol">
            <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol">

            <ul class="navbar-nav me-auto">
                <li *ngFor="let user of users; let first = first" class="nav-item navItemChatRoom">
                    <img src="{{api}}/api/users/picture/{{user}}" class="profilPictureTop" (click)="first && open(editProfile)" [class.yourProfilPicture]="first"/>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item navItemChatRoom" data-bss-hover-animate="pulse">
                    <img data-bss-hover-animate="rubberBand" id="emojiNavbar" src="./assets/img/chatroom/dotted_face.png" data-bs-target="#edit-emoji" data-bs-toggle="modal">
                </li>
            </ul>
        </div>
    </div>
</nav>