<ng-template #editProfile let-modal>
    <app-chatroom-modal-edit-profile [me]="me" [username]="username" (updateProfilPicture)="updateProfilPicture($event)"></app-chatroom-modal-edit-profile>
</ng-template>

<ng-template #editEmojis let-modal>
    <app-chatroom-modal-emojis></app-chatroom-modal-emojis>
</ng-template>

<nav class="navbar navbar-light navbar-expand-md sticky-top bg-dark" data-aos="fade-down" id="navbar">
    <div class="container-fluid">
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol">
            <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol">

            <ul class="navbar-nav me-auto">
                <li *ngFor="let user of users; let first = first" class="nav-item navItemChatRoom">
                    <img (blur)="first" [attr.user]="user.uuid" src="{{api}}/users/picture/{{user.uuid}}" class="profilPictureTop" (click)="first && open(editProfile)" [class.yourProfilPicture]="first" #userlist/>
                    <span *ngIf="isWriting.includes(user.uuid)" class="spinner-border text-muted isWriting" role="status"></span>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item navItemChatRoom" data-bss-hover-animate="pulse" (click)="open(editEmojis)">
                    <img data-bss-hover-animate="rubberBand" id="emojiNavbar" src="./assets/img/chatroom/dotted_face.png">
                </li>
            </ul>
        </div>
    </div>
</nav>