<app-chatroom-navbar [users]="users" [username]="username" [me]="me"></app-chatroom-navbar>

<div class="container-fluid containerChatRoom">
 <!-- Start: CONTENT -->
 <div class="row g-0 justify-content-center" data-aos="zoom-in">
    <!-- Start: left side -->
    <div class="col-12 col-lg-6 col-xl-6 col-xxl-7 order-sm-last order-md-last order-lg-first" data-aos="fade-right" data-aos-delay="200" data-aos-once="true">

        <!-- Start: Call box -->
        <app-chatroom-callbox [inCall]="inCall" [userInCall]="userInCall"></app-chatroom-callbox>
        <!-- End: Call box -->

        <!-- Start: Activity Box -->
        <app-chatroom-activitybox></app-chatroom-activitybox>
        <!-- End: Activity Box -->

    </div>
    <!-- End: left side -->

    <!-- Start: right side -->
    <app-chatroom-chatbox [uuid]="uuid" class="col" data-aos="fade-left" data-aos-delay="200" data-aos-once="true"></app-chatroom-chatbox>
    <!-- End: right side -->
<!-- End: CONTENT -->
</div>