<app-chatroom-navbar [users]="users"></app-chatroom-navbar>
<div class="container-fluid containerChatRoom">
 <!-- Start: CONTENT -->
 <div class="row g-0 justify-content-center" data-aos="zoom-in">
    <!-- Start: left side -->
    <div class="col-12 col-lg-6 col-xl-6 col-xxl-7 order-sm-last order-md-last order-lg-first" data-aos="fade-right" data-aos-delay="200" data-aos-once="true">
        <!-- Start: Call box -->
        <app-chatroom-callbox [inCall]="inCall"></app-chatroom-callbox>
        <!-- End: Call box -->
    </div>
<!-- End: CONTENT -->
</div>