<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <div class="col text-center" style="color: var(--bs-red);">
                    <i class="far fa-sad-tear" style="font-size: 194px;"></i>
                    <p style="margin-bottom: 0px;margin-top: 30px;font-weight: bold;">Cette fonctionnalité n'est pas encore<br>implementée ... Attends encore<br>un peu !! ...</p>
                </div>
            </div>
        </div>
    </div>
</div>