<div class="shadow-lg callBox">
    <div class="row justify-content-center topRoxCallBox">
        <div class="col-auto" *ngFor="let user of inCall;">
            <div [class.notJoinedCall]="!userInCall" class="profilPictureCall" style="background-image: url('{{api}}/api/users/picture/{{user}}');"></div>
        </div>
    </div>
    <div class="row g-0 text-center BtnRowCallBox">
        <div class="col">
            <button class="btn btn-success shadow joinCallBtn" data-bss-hover-animate="pulse" type="button" data-bs-target="#not-implemented-yet" data-bs-toggle="modal">
                <i class="fas fa-phone-alt"></i> Rejoindre le salon vocal 
            </button>
        </div>
    </div>
</div>