<div class="shadow-lg msgBox">
    
    <!-- Messages will be displayed inside this div -->
    <div class="userMessagesBoxChat" *ngFor="let his of history; let first = first; let last = last">

        <!-- Start: User information -->
        <div class="row g-0 userInformationRowChatbox">
            <!-- Start: Author Profile Picture -->
            <div class="col-auto">
                <img [attr.user]="his.author.uuid" class="profilPictureMessage" src="{{api}}/api/users/picture/{{his.author.uuid}}" #profilPicture/>
            </div>
            <!-- End: Author Profile Picture -->

            <!-- Start: Author Username -->
            <div class="col-auto align-self-center">
                <p class="fw-bolder text-primary"><strong>{{ his.author.username }}</strong><br></p>
            </div>
            <!-- End: Author Username -->
        </div>
        <!-- End: User information -->

        <!-- Start: Message -->
        <div class="row messageRowChatbox" *ngFor="let message of his.stack">
            <div class="col-2">
                <p class="fw-light text-black-50 sendDateMessage">{{ message.date }}</p>
            </div>
            <div class="col-10 align-self-stretch">
                <p class="text-dark message" *ngIf="message.picture === false">{{ message.content }}</p>
                <img data-bss-hover-animate="pulse" class="thumbnailPictureChat" src="{{ message.content }}" *ngIf="message.picture === true">
            </div>
        </div>
        <!-- End: Message -->

        <hr *ngIf="last === false">

    </div>
</div>

<!-- Start: Input and Buttons -->
<div class="row g-0 rubberBand animated InputBtnRowChat">
    <div class="col-8" (keyup.enter)="send()">
        <div #input class="messageInput" contenteditable="true" (keyup)="writeMessage($event)"></div>
    </div>
    <div class="col-1">
        <button class="btn btn-info btn-lg d-xxl-flex justify-content-xxl-center align-items-xxl-center chatBtnMessage" id="sendThumb">
            <i class="fas fa-paperclip btnIconSend"></i>
        </button>
    </div>
    <div class="col-3">
        <button class="btn btn-success btn-lg chatBtnMessage" id="sendMsg" (click)="send()">
            <i class="fas fa-location-arrow btnIconSend"></i>
        </button>
    </div>
</div>
<!-- End: Input and Buttons --> 