<div class="shadow-lg msgBox">
    <div class="userMessagesBoxChat" #messageList>
        <!-- Messages will be displayed inside this div -->
    </div>
</div>

<!-- Start: Input and Buttons -->
<div class="row g-0 rubberBand animated InputBtnRowChat">
    <div class="col-8" (keyup.enter)="send()">
        <div #input class="messageInput" contenteditable="true" (keyup)="writeMessage($event)"></div>
    </div>
    <div class="col-1">
        <button class="btn btn-info btn-lg d-xxl-flex justify-content-xxl-center align-items-xxl-center chatBtnMessage" id="sendThumb">
            <i class="fas fa-paperclip btnIconSend"></i>
        </button>
    </div>
    <div class="col-3">
        <button class="btn btn-success btn-lg chatBtnMessage" id="sendMsg" (click)="send()">
            <i class="fas fa-location-arrow btnIconSend"></i>
        </button>
    </div>
</div>
<!-- End: Input and Buttons --> 