<div class="modal-header">
    <h4 class="modal-title">Personnalise tes emojis ! <img class="titleModalEmoji" src="./assets/img/emojis/sunglasses.png"></h4>
    <button (click)="closeModal()" type="button" class="btn-close" aria-label="Fermer"></button>
</div>
<div class="modal-body" id="modalEmojiBody">
    <input accept="image/apng, image/gif, image/jpeg, image/png" type="file" style="display: none;" #uploadEmoji  (change)="updatePreviewEmojiPicture(uploadEmoji.files)">
    <div class="row g-0 addEmojiModalRow" *ngFor="let emoji of emojis; let index = index; let last = last">
        <div class="col-auto align-self-center" (click)="updateEmojiPicture(index)">
            <img #emojiPreview id="emoji-{{index}}" class="emojiTemplate" src="{{ emoji.base64 }}">
        </div>
        <div class="col-6 text-center align-self-center">
            <input class="form-control-sm addEmojiAlias" type="text" value="{{ emoji.alias }}" (keyup)="updateAlias(index, $event)">
        </div>
        <div class="col-auto align-self-center">
            <button *ngIf="emojis.length > 1" [class.trashBtnEmojiRow]="last" (click)="removeEmoji(index)" class="btn btn-primary" type="button">
                <i class="fas fa-trash"></i>
            </button>
        </div>
        <div class="col-auto align-self-center" *ngIf="last">
            <button [class.newBtnEmojiRow]="emojis.length > 1" class="btn btn-info" type="button" (click)="addEmoji()">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>
    </div>
    <div *ngIf="alert.display" class="alert alert-{{ alert.type }}" role="alert">{{ alert.message }}</div>
</div>
<div class="modal-footer">
    <button (click)="closeModal()" class="btn btn-light" type="button">Fermer</button>
    <button class="btn btn-primary" type="button" (click)="submit()">Sauvegarder</button>
</div>