.containerPassword {
    width: 85%;
    margin-top: 5vh;
}

.passwordBox {
    background: var(--bs-gray-dark);
    border-radius: 35px;
    height: 211px;
  }
  
  #boxInputPassword {
    z-index: 999;
    padding-bottom: 45px;
    padding-top: 45px;
  }
  
  #passwordInput {
    color: whitesmoke;
    text-align: center;
    background: var(--bs-gray-700);
    border: none;
  }
  
  #incorrectPasswordAlert {
    width: 50%;
    margin-left: 25%;
  }
  
  #inputPasswordHeading {
    opacity: 0.70;
    margin-bottom: 28px;
  }
  
  #lockIconPassword {
    height: 211px;
    position: absolute;
    font-size: 977%;
    opacity: 0.46;
    padding-top: 72px;
    overflow: hidden;
    border-bottom-left-radius: 35px;
    color: var(--bs-cyan);
  }
  
  #passwordInput:focus {
    outline: none;
  }