<div class="container-fluid containerPassword">
    <div class="row g-0 justify-content-center" data-aos="fade-down">
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 col-xxl-9 order-sm-last order-md-last order-lg-first">
            <div class="shadow-lg passwordBox">
                <i class="fas fa-lock d-none d-lg-inline" id="lockIconPassword"></i>
                <div class="row justify-content-center" id="boxInputPassword">
                    <div class="col text-center">
                        <h4 class="text-danger" id="inputPasswordHeading">Ce salon est protégé par un<br>mot de passe.</h4>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <input #password class="shadow-lg form-control-lg" type="text" id="passwordInput" placeholder="Mot de passe" (keyup)="setPassword($event)">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary" type="button">Valider</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="printAlert" class="alert alert-danger" role="alert" id="incorrectPasswordAlert">
                    <span>Le mot de passe saisit est incorrect !</span>
                </div>
            </div>
        </div>
    </div>
</div>