<div class="container" id="buttonContain">
    <div class="row g-0 justify-content-center align-items-center">
        <div class="col text-center align-self-center" data-aos="flip-left">
            <button class="btn btn-primary btn-lg buttonOpenModal" data-bss-hover-animate="pulse" type="button" data-bs-target="#create" data-bs-toggle="modal">Créer un salon</button>
        </div>
        <div class="col text-center align-self-center" data-aos="flip-right" data-aos-delay="100">
            <button class="btn btn-info btn-lg buttonOpenModal" data-bss-hover-animate="pulse" type="button" data-bs-target="#join" data-bs-toggle="modal">Rejoindre un salon</button>
        </div>
    </div>
</div>